<!-- ice cream section -->

<section class="ice-cream">
  <div class="container">
    <div class="ice-cream__section">
      <label class="ice-cream__label">100% natural</label>
      <h1 class="ice-cream__title">products</h1>
      <ul class="ice-cream__products">
        <h2 class="ice-cream__name">ice cream</h2>
        <p class="ice-cream__paragraph">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </ul>
      

      <!-- слайдер -->
      <button class="ice-cream__button">
        <svg width="40px" height="16px">
          <use></use>
        </svg>
      </button>
    </div>
  </div>
</section>
